#Variables y cadenas de conexión para conectarse a la BDD
PORT=3000
MONGODB_URL = YOUR_MONGO_ATLAS_URL_CONNECTION_HERE
MONGODB_URI_LOCAL = YOUR_MONGODB_URL_LOCAL_HERE

#Variables para crear el script de administrador con datos enviados por variables de entorno
ADMIN_NOMBRES=YOUR_NAMES_HERE
ADMIN_APELLIDOS=YOUR_LASTNAMES_HERE
ADMIN_EMAIL=YOUR_EMAIL_HERE
ADMIN_PASSWORD=YOUR_PASSWORD_HERE
ADMIN_USERNAME=YOUR_USER_NAME_HERE
ADMIN_PROVINCIA=YOUR_PROVINCE_HERE

#Variables en Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

JWT_SECRET = YOUR_JWT_TOKEN_HERE